
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'iconfont';  /* project id 576648 */
  src: url('//at.alicdn.com/t/font_576648_i2zjjn0dnnyojemi.eot');
  src: url('//at.alicdn.com/t/font_576648_i2zjjn0dnnyojemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_576648_i2zjjn0dnnyojemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_576648_i2zjjn0dnnyojemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_576648_i2zjjn0dnnyojemi.svg#iconfont') format('svg');
}
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Microsoft YaHei';
  font-weight: 200;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}
.float-right{
  float: right;
}
.headpic{
  width: 30px;
  height:30px;
}
.message-pannel{
  .message-header{
  }
}
.message{
  .username{
    padding-left: 5px;
  }
  margin: 15px 0;
  .message-content{

  }
}
.clearfix{
  clear:both;
}
.like-btn{
  margin-right: 10px;
  cursor: pointer;
}
.reply-btn{
  cursor: pointer;
}
.oppose-btn{
  cursor: pointer;
}
.reply-pannel{
  padding: 20px;
  background-color: #eee;
  border-radius: 3px;
  position: relative;
}
.reply-pannel:before{
  content: '';
  position: absolute;
  border: 1px solid #eee;
  background-color: #eeeeee;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  left: 30px;
  top: -10px;
}
.replies{
  font-size: 12px;
  .reply{
    margin-bottom: 20px;
    .created_at{
      padding-right: 5px;
    }
  }
}
.user{
  position: fixed;
  top: 25px;
  right: 10px;
}
.header{
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 3;
}
.main{

}
.app-name{
  font-size: 20px;
  font-weight: bold;
  img{
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.message-pannel{
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 5px;
}
.box-main{
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  padding: 5px;
}
#app{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 80px;
  padding: 0;
  overflow: hidden;
}